.row {
    display: flex;
    justify-content: space-between;
  }
  

  .content {
    padding: 16px
  }

  .buttons {
    justify-content: space-between;
  }
  .botao-aceito{
    background-color: #009000;
  }