<app-loading *ngIf="!User"></app-loading>

    <div *ngIf="User" class="content" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" 
    fxLayoutAlign.gt-sm="center start" fxLayoutGap="16px">

        <div fxFlex="50%" fxFlex.gt-sm="25%">
            <mat-card class="mat-elevation-z0">
                <img mat-card-image class="userCover" [src]="User.image" alt="Photo of a {{User.name}}">
            </mat-card>
            <mat-card class="mat-elevation-z3">
                <mat-card-header>
                    <img mat-card-avatar class="ongImage" [src]="User.image" alt="Photo of a {{User.name}}">
                    <mat-card-title>{{User.name}}</mat-card-title>
                    <mat-card-subtitle>CNPJ: {{User.cnpj}}</mat-card-subtitle>
                </mat-card-header>
            
                 <mat-card-header>
                    <p class="description">{{User.description}}</p>
                </mat-card-header>
            </mat-card>

            <div class="account">
                <mat-card class="mat-elevation-z3">
                    <mat-card-header>
                        <div class="row" *ngIf="User.bank_account || User.paypal_account">
                            <span>
                                Informações bancarias para recebimento de doaçoes:
                            </span>
                            <br /><br />
                            <span *ngIf="User.bank_account">
                                <mat-icon>account_balance</mat-icon>
                                {{User.bank_account}}
                            </span>
                            <br>
                            <span *ngIf="User.paypal_account">
                                <mat-icon>credit_card</mat-icon>
                                {{User.paypal_account}}
                            </span>
                        </div>
                    </mat-card-header>                
                </mat-card>
            </div>
            
        </div>
    
        <div fxFlex="50%" fxFlex.gt-sm="75%">
            <mat-card class="mat-elevation-z3">
                <mat-card-header>
                    <div class="row" *ngIf="User.contact.landline || User.contact.cell_phone || User.contact.instagram || User.contact.facebook || User.address.street || User.address.number || User.address.city">
                        <span class="">
                            Entre em contato atraves dos seguintes numero, ou pelas redes sociais disponiveis:
                        </span>
                        <br /><br />
                        <span *ngIf="User.contact.landline">
                            <mat-icon>phone</mat-icon>
                            {{User.contact.landline}}
                        </span>
                        <br />
                        <span *ngIf="User.contact.cell_phone">
                            <mat-icon>phone_android</mat-icon>
                            {{User.contact.cell_phone}}
                        </span>
                        <br />
                        <span *ngIf="User.contact.instagram">
                            <mat-icon>phonelink</mat-icon>
                            {{User.contact.instagram}}
                        </span>
                        <br />
                        <span *ngIf="User.contact.facebook">
                            <mat-icon>phonelink</mat-icon>
                            {{User.contact.facebook}}
                        </span>
                        <br />
                        <span *ngIf="User.address.street">
                            <mat-icon>home</mat-icon>
                            {{User.address.street}}
                        </span>
                        &nbsp;
                        <span *ngIf="User.address.number">
                            {{User.address.number}}
                        </span>
                        &nbsp;
                        <span *ngIf="User.address.city">
                            {{User.address.city}}
                        </span>                      
                    </div>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

