<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <a [routerLink]="'/home'"><img src="./../../../assets/icons/helpets_icon.svg" class="img"></a>

    <span class="menu-spacer"></span>
    <button mat-icon-button>
      <mat-icon class="size-icon" [routerLink]="'/users'">account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="menu-elements" *ngIf="!_router.url.includes('admin')">
      <a mat-button [routerLink]="'/adoptions'">Adoções</a>
      <a mat-button [routerLink]="'/disappeared'">Desaparecidos</a>
      <a mat-button [routerLink]="'/ong'">Ongs</a>
      <a mat-button [routerLink]="'/about'">Sobre</a>
    </div>
    <div class="menu-elements" *ngIf="_router.url.includes('admin')">
      <a mat-button class="menu-elements" [routerLink]="'/admin/adoptions'">Adoções</a>
      <a mat-button class="menu-elements" [routerLink]="'/admin/disappeared'">Desaparecidos</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="outlet">
  <router-outlet></router-outlet>
</div>