<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <img src="./../../../assets/icons/helpets_icon.svg" class="img">
    <span class="menu-spacer"></span>
    <button mat-icon-button>
      <mat-icon class="size-icon" [routerLink]="'/users'">account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="menu-elements">
      <a mat-button [routerLink]="'/adoptions'">Adoções</a>
      <a mat-button [routerLink]="">Desaparecidos</a>
      <a mat-button [routerLink]="'/ong'">Ongs</a>
      <a mat-button [routerLink]="'/about'">Sobre</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="outlet">
  <router-outlet></router-outlet>
</div>