.row {
  display: flex;
  justify-content: space-between;
}


.content {
  padding: 16px
}

.routerLink{
  cursor: pointer;
  transition: transform .2s;
}

.routerLink:hover{
  transform: scale(1.03);
}