<div *ngIf="Adoption">
  <div class="content" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAling="start center"
    fxLayoutAling.gt-sm="center start" fxLayoutGap="16px">
    <h2>{{Adoption.user.name}}</h2>
    <mat-divider></mat-divider>
    <br>
    <div>
      <div fxFlex="50%" fxFlex.gt-sm="25%">
        <mat-card class="mat-elevation-z0">
          <img mat-card-image class="disappearedCover" [src]="Adoption.image" alt="Photo of a {{Adoption.pet_name}}">
        </mat-card>
      </div>
      <div fxFlex="50%" fxFlex.gt-sm="75%">
        <mat-card class="mat-elevation-z0">
          <div class="row">
            <p>{{Adoption.description}}</p>
            <h2>{{Adoption.publication_type}}</h2>
            <h2 *ngIf="Adoption.user.address.neighborhood">{{Adoption.user.address.neighborhood}}</h2>
            <h2 *ngIf="Adoption.gender">{{Adoption.gender}}</h2>
            <h2 *ngIf="Adoption.castred">Castrado</h2>
            <h2 *ngIf="Adoption.maturity">{{Adoption.maturity}}</h2>
            <h2 *ngIf="Adoption.quantity_male">Machos: {{Adoption.quantity_male}}</h2>
            <h2 *ngIf="Adoption.quantity_female">Fêmeas: {{Adoption.quantity_female}}</h2>
            <h2 *ngIf="Adoption.data_nascimento">Nascidos: {{Adoption.data_nascimento | date: 'dd/MM/yyyy':"UTC"}}</h2>
          </div>
        </mat-card>
      </div>
    </div>
    <div>
      <h2 *ngIf="Adoption.user.contact.cell_phone">{{Adoption.user.contact.cell_phone}}</h2>
      <h2 *ngIf="Adoption.user.contact.instagram">{{Adoption.user.contact.instagram}}</h2>
    </div>
  </div>
</div>