<p>about-us works!</p>

<h1 class="mat-h2">Sobre</h1>
<br />
<div class="user">
    <div class= "users-content">
        <img src="./../../../assets/icons/helpets_icon.svg" class="img">
        <h1 class="mat-h1">Helpets</h1>
        <br />
        <p>
            A Helpets é uma plataforma que ONGs e protetores de todo o municipio de Matao 
            podem divulgar caes e gatos para adocao. O mais novo projeto, desenvolvido por 
            alunos da Faculdade de Tecnologia de Taquaritinga (FATEC - TQ), permite fazer 
            parcerias em prol da causa animal.
        </p>
        <br />
        <h1 class="mat-h2">Como Funciona?</h1>
        
            <p>
                1- ONGs ou protetores fazem o seu cadastro gratuitamente e no mesmo instante ja
                podem publicar os animais com detalhe sobre suas caracteristicas e personalidade.
            </p>
           <p>
                2- Pessoas que estaão interessadas em ter um novo bichinho de estimação podem 
                entrar na plataforma e procurar um pet para adoção responsável.
           </p>
           <p>
                3- Quando encontrarem o pet ideal, o interessado pode entrar em contato direto 
                com o doador do pet.
           </p>
            
           <p>
                4- Perdeu ou encontrou um pet, voce pode divulga-lo aqui na plataforma, assim
                ficara mais facil de encontrar o seus tutores.
           </p>

           <p>
                5- É possivel divulgar anuncios da causa animal na nossa pagina principal.
           </p>
            
        <br />
        <h1 class="mat-h2">Quer divulgar um pet para adocao?</h1>
        <p>
            Se voce esta dando lar temporario ou quer divulgar um animal para adocao,
            faca seu cadastro na plataforma e, em seguida, publique o pet. Coloque o 
            máximo de caracterisca possivel e uma foto sobre ele. Seja honesto quanto 
            a saude e cuidado desse animal.
        </p>
        <p>
            Vale ressaltar: esta plataforma é destinada a adoção e ajuda na causa animal.
            Qualquer publicação que fuja dessas caracteristicas não serão publicadas.
            O mesmo se aplica a tentativa de venda animal.
        </p>
        <br />
        <h1 class="mat-h2">Que tal adotar um amigo pet?</h1>
        <p>
            Aqui você tera acesso aos pets disponiveis para adocao com todas as caracteristicas
            possiveis do animalzinho.
        </p>
        <br />
        <h1 class="mat-h2">Veja como fazer parte desse projeto!</h1>
        <p>
            Conforme o demonstrado acima, ha muitas formas de contribuir para a plataforma:
            divulgando, sendo parceiro de ONG, ajudando os animais atraves de doações pelas ONGs,
            ajudando na divulgacao de pets perdidos ou encontrados e é possivel adicionar anuncios 
            da causa animal em nossa pagina inicial.
        </p>
    </div>
</div>