.user{
    background-color: rgb(247,247,247);
    max-width: 600px;
    padding: 35px;
    margin: auto;
    border-radius: 10px 20px;
}

.users-content{
    text-align: center;
}

.users-content a{
    margin-bottom: 15px;
}

.users-content hr{
    border: 1px dashed rgb(212, 212, 212);
}
